/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color:LightGray;
	line-height: 1;
}

section {
	border: 1px solid Chocolate;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top-nav {
	position: fixed;
	background-color:white;
	width:100%;
	border-bottom: 1px solid #DDD;
}

.content {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.top-nav > .content {
	padding-top:1.1em;
	width: 80%;
	height: 3.5rem;
	margin-left:auto;
	margin-right:auto;
}

.content .links {
	float:right;
	color: #838994;
	margin-top: .75em;
}

.content .links li {
	display:inline-block;
	color: #4c5058;
	font-weight: 400;
	margin-left: 1.5em;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

.content .links .active {
	color: #4c5058;
	font-weight: 500;
}

.content .links li:hover{
	cursor: pointer;
	color: #333333;
}

:focus {
outline: none;
}

.introduction {
    background-image: url('../images/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction .buttons {
color: white;
text-align: center;
margin-top: 1.563rem;
}


button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}

button:hover {
background-color: #d9400e;
border-color: #cf3d0e;
cursor: pointer;
}

